*.o
greasybin
configure
Makefile
stamp-h1
bin/greasy
config.h
config.log
config.status
etc/greasy.conf
example/bsc_greasy.lsf.job
example/bsc_greasy.slurm.job
example/bsc_greasy.pbs.job
.settings
.cproject
.project
src/.deps
*~ 
.*.swp
autom4te.cache/*
Makefile.in
*/Makefile.in
aclocal.m4